body {
  font-family: Helvetica, 'Varela Round', sans-serif;
}
.content-container {
  width: 300px;
  height: 300px;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #fff;
  padding: 5px 15px 15px 15px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.follow {
  color: #66798b;
  font-size: 20px;
  font-weight: lighter;
}
.refresh-btn, .viewAll-btn {
  color: #17e648;
  font-size: 13px;
}
.btns {
  margin-top: 10px;
  margin-left: 5px;
}
.separator {
  font-size: 10px;
  margin: 0px 5px 0px 5px;
}
.separator:first-child {
  margin: 0px 5px 0px 3px;
}
.refresh-btn:hover, viewAll-btn:hover, .username:hover, .viewAll-btn {
  cursor: pointer;
}
.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  margin-right: 10px;
}
.users-ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.main-content {
  float: left;
  display: flex;
}
.user-btn-container {
  float: right;
}
.user-realname, .username {
  font-size: 12px;
}
.user-realname, .username {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.user-realname > a {
  font-weight: bold;
  color: #292f33;
}
.username {
  margin-left: 3px;
  color: #889ba6;
}
.user-realname > a:hover {
  color: #17E61D
}
.user-content {
  margin-bottom: 10px;
  overflow: hidden;
}
.img-container {
  float: left;
}
.profile-btn-container {
  clear: right;
}
.fadeOut {
  opacity: 0
}
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 25% auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.profile-span {
  margin-left: 5px;
  font-weight: bold;
  font-size: 14px;
  font-color: #292f33;
}
.btn {
  background-color: #fdfefe;
}
.error-container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
