body {
  font-family: 'Helvetica Neue', Roboto, sans-serif;
}
.content-container {
  width: 300px;
  height: 350px;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0px 10px 20px 15px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 20%;
}
.follow {
  color: #66798b;
  font-size: 20px;
  font-weight: lighter;
}
.refresh-btn, .viewAll-btn {
  color: #17e648;
  font-size: 13px;
}
.btns {
  margin-top: 10px;
  margin-left: 5px;
}
.separator {
  font-size: 10px;
  margin: 0px 5px 0px 5px;
}
.separator:first-child {
  margin: 0px 5px 0px 3px;
}
.refresh-btn:hover, viewAll-btn:hover, .username:hover, .viewAll-btn {
  cursor: pointer;
}
.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  margin-right: 10px;
}
.users-ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
}
.main-content {
  float: left;
  width: 70%;
  height: 33%;
}
.user-btn-container {
  float: right;
}
.user-realname {
  width: 100%;
  color: #292f33;
}
.user-realname, .username {
  font-size: 12px;
}
.user-realname, .username {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.user-realname > a {
  font-weight: bold;
  color: #292f33;
}
.username {
  margin-left: 3px;
  color: #889ba6;
}
.user-realname > a:hover {
  color: #17E61D
}
.user-content {
  overflow: hidden;
  height: 33%;
}
.img-container {
  float: left;
  height: 100%;
}
.profile-btn-container {
  clear: right;
  height: 50%;
}
.fadeOut {
  opacity: 0
}
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 25% auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.profile-span {
  margin-left: 6px;
  font-weight: bold;
  font-size: 14px;
  color: #292f33;
  letter-spacing: 0.3px;
}
.requestUser-btn:focus {
  outline: none;
}
.profile-btn {
  background: #f5f8fa; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#fff, #f5f8fa); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, #f5f8fa); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff, #f5f8fa); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff,#f5f8fa);
  background-repeat: no-repeat;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  color: #66757f;
  padding: 5px 13px;
  text-align: center;
}
.profile-btn:hover {
  background: #e1e8ed; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#fff, #e1e8ed); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, #e1e8ed); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff, #e1e8ed); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff,#e1e8ed);
}
.github-icon {
  color: #1da1f2;
}
.btn:hover {
  background-image: linear-gradient(#fff,#e1e8ed)
  background-color: #e7edf1;
}
.error-container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.requestUser-btn {
  border: none;
  background-color: #fff;
  display: flex;
}
.fa-times {
  color: #ccd6dd;
}
.last-container {
  display: flex;
  height: 16%;
  justify-content: center;
  align-items: center;
  margin: 0px -10px -20px -15px;
  background-color: #f5f8fa;
}
